.table-row-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tb-fd-selectState{
    width: 10%;

}

.tb-fd-index{
    width: 10%;
}


.tb-fd-checkbtn{
    width: 5%;

}

.tb-fd-delbtn{
    width: 5%;
}

.tb-fd-description{
    width: 35%;
}

.checked{
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
}

.header{
    font-weight: bold;
}