.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-container {
    background-color: white;
    position: fixed;
    width: 30%;
    height: 40%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
}

.modal-title {
    align-content: center;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 25px;

    margin-left: 10px;
    margin-right: 10px;
}

.modal-form-container {
    display: flex;
    flex-direction: column;

}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.submit-btn {
    align-self: flex-end;
}







