.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-container {
    background-color: #F4F2DE;
    position: fixed;
    width: 40%;
    height: 40%;
    min-width: 400px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.modal-title {
    align-content: center;
    text-align: center;
}

.btn-icon {
    font-size: xx-large;
}

.close-btn {
    position: absolute;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    top: 25px;
    right: 25px;
    border: none;
}


.close-btn:hover {
    animation: rotate;
    animation-duration: 2s;
}

.modal-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.submit-btn {
    align-self: flex-end;
    background-color: #FEFF86;
    font-size: large;
    padding: 5px;
    border-radius: 15px;
    margin-top: 25px;
}

label {
    font-size: larger;
    width: 80%;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

input[name='description'] {
    font-size: larger;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #7C9D96;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}


