.alert-container{
    display: flex;
    justify-content: center;
    width: auto;
}

.alerts-container {
    flex-direction: column;
    position: absolute;
    top: 8%;
    right: 10%;
    width: 15%;
    flex-direction: row;
    z-index: 100;
}

.alert{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 8px;
    border-radius: 5px;
    color: white;
}

.status {
    outline-width: 2px;
    outline-style: solid;
    outline-color: darkgrey;
    background-color: #FAF0E4;
    font-weight: 200;
    color: black;
}

.error{
    background-color: #ef7c8e;
    font-weight: 200;
    animation-name: flash-outline;
}

.success{
    background-color: #94c973;
    font-weight: 200;
}

.remove-btn{
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    color: white;
    border: none;
}

.remove-btn:hover {
    animation: rotate;
    animation-duration: 2s;
}

@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}